name: Build and deploy website

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup NodeJS environement
        uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - name: Install dependencies
        run: yarn install

      - name: Build Website
        run: yarn build

      - name: Deploy to GitHub Pages
        run: |
          cd public
          git init
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git remote add origin https://${GITHUB_REPOSITORY_OWNER}:${{secrets.GITHUB_TOKEN}}@github.com/${GITHUB_REPOSITORY}.git
          git checkout -b gh-pages
          git add .
          git commit -m "Build website"
          git push origin gh-pages -f
